<configuration debug="false" scan="true" scanPeriod="15 seconds">

    <property name="LOG_REDIS_CONNECT_PATH" value="logs/redis-connect"/>
    <property name="LOG_REDIS_CONNECT_MANAGER_PATH" value="logs/redis-connect-manager"/>
    <property name="LOG_REDIS_CONNECT_PIPELINE_PATH" value="logs/redis-connect-pipeline"/>
    <property name="LOG_REDIS_CONNECT_HEARTBEAT_PATH" value="logs/redis-connect-heartbeat"/>

    <define name="PROCESS_ID" class="com.redis.connect.utils.PidPropertyDefiner"/>

    <appender name="REDIS_CONNECT_HEARTBEAT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_REDIS_CONNECT_HEARTBEAT_PATH}-${PROCESS_ID}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/redis-connect-heartbeat-${PROCESS_ID}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="REDIS_CONNECT_MANAGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_REDIS_CONNECT_MANAGER_PATH}-${PROCESS_ID}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/redis-connect-manager-${PROCESS_ID}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="REDIS_CONNECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_REDIS_CONNECT_PATH}-${PROCESS_ID}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/redis-connect-${PROCESS_ID}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="eval1">
                <expression>message.contains("polling records...")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="eval2">
                <expression>message.contains("no records available yet, sleeping a bit...")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="eval3">
                <expression>message.contains("checking for more records...")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="eval4">
                <expression>message.contains("No change in the database")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="eval5">
                <expression>message.contains("polled no new records")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="eval6">
                <expression>message.contains("no records available or batch size not reached yet, sleeping a bit...") </expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
    </appender>
    <appender name="REDIS_CONNECT_PIPELINE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_REDIS_CONNECT_PIPELINE_PATH}-${PROCESS_ID}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/redis-connect-pipeline-${PROCESS_ID}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="redis-connect-heartbeat" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT_HEARTBEAT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="redis-connect-manager" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT_MANAGER"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="redis-connect-pipeline" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT_PIPELINE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="redis-connect" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="io.netty" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="io.lettuce" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.zaxxer" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="io.debezium" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.kafka" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="io.opentelemetry" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="Validator" level="OFF" additivity="false"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping" level="OFF" additivity="false"/>
    <logger name="com.redis.connect.cluster.rest.RedisConnectSpringBootApplication" level="OFF" additivity="false"/>
    <logger name="reactor.util" level="OFF" additivity="false"/>

    <root>
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="REDIS_CONNECT_MANAGER"/>
        <appender-ref ref="REDIS_CONNECT_PIPELINE"/>
        <appender-ref ref="REDIS_CONNECT_HEARTBEAT"/>
    </root>

</configuration>
