<configuration debug="false" scan="true" scanPeriod="15 seconds">

    <property name="LOG_REDIS_CONNECT_PATH" value="logs/redis-connect"/>
    <property name="LOG_REDIS_CONNECT_MANAGER_PATH" value="logs/redis-connect-manager.log"/>
    <property name="LOG_REDIS_CONNECT_HEARTBEAT_PATH" value="logs/redis-connect-heartbeat.log"/>

    <appender name="REDIS_CONNECT_HEARTBEAT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_REDIS_CONNECT_HEARTBEAT_PATH}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/redis-connect-heartbeat.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="REDIS_CONNECT_MANAGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_REDIS_CONNECT_MANAGER_PATH}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/redis-connect-manager.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="REDIS_CONNECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_REDIS_CONNECT_PATH}-${PID}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/redis-connect-${PID}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="redis-connect-heartbeat" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT_HEARTBEAT"/>
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="redis-connect-manager" level="DEBUG" additivity="false">
        <appender-ref ref="REDIS_CONNECT_MANAGER"/>
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="redis-connect" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="io.netty" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="io.lettuce" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="com.zaxxer" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="io.debezium" level="INFO" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.kafka" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="springfox" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org" level="OFF" additivity="false">
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="Validator" level="OFF" additivity="false"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping" level="OFF" additivity="false"/>
    <logger name="com.redis.connect.cluster.RedisConnectSpringBootApplication" level="OFF" additivity="false"/>
    <logger name="reactor.util" level="OFF" additivity="false"/>

    <root>
        <appender-ref ref="REDIS_CONNECT"/>
        <appender-ref ref="REDIS_CONNECT_MANAGER"/>
        <appender-ref ref="REDIS_CONNECT_HEARTBEAT"/>
    </root>

</configuration>
